/* BUTTONS
- components/buttons.scss */

.btn {
    color: $c-text;
    line-height: 1;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .06em;

    display: block;
    padding: 1.25em 3em;
    margin-bottom: .5em;
    border: 0;
    border-radius: 2px;

    outline: none;

    transition: all .25s;

    cursor: pointer;

    @media (min-width: $screen-md-min) {
        display: inline-block;
        margin-bottom: 0;
    }

    &--brand {
        color: $c-text--light;
        background-color: $c-brand;

        &--inverted {
            color: $c-brand;
            background-color: #fff;
        }
    }

    &--neutral {
        background-color: #b8b8b8;
    }

    &--light {
        background-color: #fff;
    }

    &--outline {
        background-color: transparent;

        border: 2px solid $c-neutral--darker;

        &--light {
            color: $c-text--light;

            border-color: $c-text--light;
        }
    }

    &--small {
        font-size: 1.2rem;

        padding: 1em 2.75em;
    }

    &--icon {
        color: $c-text;
        background-color: transparent;

        margin: 0;
        padding: 0;
        height: 44px;
        min-width: 44px;

        .btn__icon {
            height: 25px;
            width: 25px;
        }
    }

    &__icon {
        display: inline-block;
        height: 14px;
        width: 14px;

        vertical-align: middle;

        path {
            fill: CurrentColor;
        }
    }
}
