/**
 * BUTTONS
 * 01-atoms/buttons.scss
 */

.btn {
    color: $c-text;
    background-color: $c-background--med;
    line-height: 1;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    font-weight: normal;

    display: inline-block;
    padding: .6rem 1.5rem;
    border: none;

    &:hover {
        background-color: $c-background--dark;
    }

    &--primary {
        color: $c-text--light;
        background-color: $c-primary;

        &:hover {
        }
    }

    &--secondary {
        color: $c-text--light;
        background-color: $c-secondary;

        &:hover {
        }
    }

    &--brand {
        color: $c-text--light;
        background-color: $c-background--brand;

        &:hover {
        }
    }

    &--outline {
        background-color: transparent;
        color: #333;

        border: 1px solid #999;

        &:hover {
        }
    }

    &--small {
        padding: .2rem 1.5rem;
    }

    &--large {
        padding: 1rem 1.5rem;
    }

    &--block {
        display: block;
    }

    &--disabled {
    }

    &--alert {
        color: $c-text--light;
        background-color: #d14836;

        &:hover {
        }
    }

    &--icon {
        //display: flex;
    }

    &__icon {
        display: inline-block;
        height: 19px;
        width: 19px;
        margin: 0 10px;

        vertical-align: middle;
    }
}
