label,
input {
    display: inline-block;
}

textarea,
input,
select {
    color: #3f3f3f;

    padding: 5px;
    border: 1px solid #cccccc;

    vertical-align: middle;

    border-radius: 0;
    outline: none;
}

select {
    color: #afafaf;
    background-color: $c-background--light;

    height: 24px;
}

// -- STATE

.input {
    &--error {
        background-color: #ffcccc;

        border-color: #cc6666;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: $c-negative;
        }
    }

    &--required {
        display: inline-block;

        position: relative;

        &__required {
            &:after {
                content: "*";
                color: red;
                font-size: 16px;

                position: absolute;
                top: -1px;
                right: 2px;
            }
        }
    }
}

// -- RADIO - CHECKBOX

input[type=radio],
input[type=checkbox] {
    display: none;
}

input[type=radio]:checked + label:before {
    font-size: 25px;

    border-color: #3f3f3f;
}

input[type=checkbox]:checked + label:before {
    content: "";
    font-size: 15px;
    color: #3f3f3f;
    text-align: center;
    line-height: 15px;

    width: 10px;
    height: 8px;

    border-left: 2px solid #3f3f3f;
    border-bottom: 4px solid #3f3f3f;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);

    transform: rotate(-45deg) scaleY(0.5);
}

.input {
    &-radio,
    &-checkbox {
        display: inline-block;

        label {
            font-size: 1.2rem;
            line-height: 1.4rem;

            display: inline-block;
            padding-left: 25px;
            margin: 0 15px 10px 0;

            position: relative;

            cursor: pointer;

            &:before {
                content: "";
                background-color: $c-background--light;
                font-size: 0;

                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 10px;
                border: 1px solid #cccccc;

                position: absolute;
                left: 0;
                top: 0;

                border-radius: 8px;
            }
        }
    }

    &-radio {
        label:before {
            color: #3f3f3f;
            content: "\2022";
            font-size: 0;
            text-align: center;
            line-height: 12px;

            transition: all 0.2s ease-in-out;
        }
    }

    &-checkbox {
        label:before {
            border-radius: 0;

            transition: all 0.2s ease-in-out;
        }
    }
}
