.btn {
  background-color: $c-background--med;
  color: $c-text;
  line-height: 1;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-weight: normal;

  display: inline-block;
  padding: .6rem 1.5rem;
  min-height: 1em;
  outline: 0;
  border: none;

  position: relative;
  vertical-align: middle;

  cursor: pointer;

  &:hover {
    background-color: $c-background--dark;
  }

  &--primary {
    &:hover {
    }
  }

  &--secondary {
    &:hover {
    }
  }

  &--tertiary {
    &:hover {
    }
  }

  &--outline {
  }

  &--small {
  }

  &--large {
  }

  &--block {
  }

  &--disabled {
  }
}
