/* COLORS
- abstract/variables/colors.scss */

$c-brand: #fca804;
$c-primary: #1e7be2;
$c-secondary: #7ed321;
$c-secondary: #007ec9;

$c-background: #f1f1f1;
$c-background--light: #fff;

$c-neutral--lighter: #cdcdcd;
$c-neutral--light: #ddd;
$c-neutral--med: #72777b;
$c-neutral--dark: #35383a;
$c-neutral--darker: #282828;

$c-text: $c-neutral--dark;
$c-text--med: #b8b8b8;
$c-text--light: #fff;
$c-text--brand: #f6a200;
