/* MAIN-NAV
- layout/main-nav.scss */

.meta-nav {
    position: absolute;
    right: 0;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        font-size: 1.3rem;

        display: block;
        margin: 0;

        float: left;
    }

    &__link {
        color: $c-text;
        font-family: $f-medium;
        text-decoration: none;
        line-height: 50px;
        letter-spacing: .01em;

        display: block;
        height: 50px;
        margin: 0 1em;

        &--member {
            color: $c-text--light;
            background-color: $c-brand;

            padding: 0 4em;
            margin: 0;
        }

        &--connexion {
            color: $c-text--light;
            background-color: $c-neutral--med;

            padding: 0 4em;
            margin: 0;

            &__icon {
                position: relative;
                top: -3px;

                transform: rotate(-45deg);
            }
        }
    }
}

.main-nav {
    padding: 0;
    margin: 0;

    position: relative;

    &__list {
        margin: 0;
        padding: 0 3rem;
        height: 90px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        list-style-type: none;
    }

    &__item {
        font-size: 1.3rem;
        font-family: $f-bold;
        letter-spacing: .07em;

        height: 100%;
        margin: 0;
    }

    &__link {
        background: url("data:image/svg+xml;utf8,<svg width='8' height='5' viewBox='0 0 8 5' xmlns='http://www.w3.org/2000/svg'><title>Arrow - petite</title><path d='M7.24 0L3.978 3.513.713 0H.71L0 .663 3.977 4.94 7.955.665V.662L7.243 0' fill='#494949' fill-rule='evenodd'/></svg>") no-repeat center right 18px;
        color: $c-text;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;

        height: 100%;
        padding: 0 3em 0 1.5em;
        display: flex;
        align-items: center;

        &:hover,
        &.is-open {
            background-image: url("data:image/svg+xml;utf8,<svg width='8' height='5' viewBox='0 0 8 5' xmlns='http://www.w3.org/2000/svg'><title>Arrow - petite</title><path d='M7.24 0L3.978 3.513.713 0H.71L0 .663 3.977 4.94 7.955.665V.662L7.243 0' fill='#fff' fill-rule='evenodd'/></svg>");
            color: $c-text--light;
            background-color: $c-neutral--darker;
        }
    }

    &__sub-nav {
        background-color: $c-neutral--darker;

        display: none;
        width: 100%;
        padding-top: .85em;

        position: absolute;
        z-index: 2;

        &.is-active {
            display: block;
        }

        &__title {
            color: $c-text--light;
            font-size: 1.6rem;
            font-family: "dinbold";
            text-transform: uppercase;

            display: block;
            margin: 2.75em 0 1.2em;
        }

        &__list {
            margin: 0;
            padding: 0;

            list-style-type: none;
        }

        &__item {
            font-size: 1.6rem;

            margin: 1rem 0;
        }

        &__link {
            color: $c-text--light;
            text-decoration: none;

            &:hover {
                color: $c-brand;
            }
        }
    }
}

.sub-nav {
    background-color: $c-neutral--darker;
    @include clearfix;

    &__list {
        padding: 0;
        margin: 0;
        display: flex;

        list-style: none;
    }

    &__item {
        text-align: center;

        margin: 0;
        border-right: 1px solid $c-neutral--dark;
        flex-grow: 1;

        &:last-child {
            border: 0;
        }
    }

    &__link {
        color: $c-text--light;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: $f-medium;

        padding: 2em 1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: all .5s;

        &:hover {
            color: $c-text--brand;
        }

        &--active {
            background-color: $c-neutral--light;
            color: $c-text;
        }
    }
}

