/* ABOUT
- pages/about.scss */

.p-about {
    &-goal {
        background: url("../img/about/bg-goal.png") no-repeat;
        background-size: cover;
        color: $c-text--light;
        text-align: center;

        &__title {
            font-size: 6rem;
            font-family: $f-bold;
            text-transform: uppercase;
        }
    }

    &__mission {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        column-count: 2;
    }

    &-member {
        background: url("../img/about/bg-member.png") no-repeat;
        background-size: cover;
        color: $c-text--light;

        & > .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            font-size: 6rem;
            font-family: $f-bold;
            text-transform: uppercase;

            margin-bottom: 0;
        }
    }

    &-values {
        .panel {
            min-width: 40%;
            flex-wrap: wrap;
        }
    }

    &-highlights {
        &__year {
            font-size: 4rem;
            font-family: $f-medium;

            display: inline-block;
            vertical-align: middle;
            width: 150px;
            margin-bottom: 5rem;

            position: relative;

            &::before {
                content: "";

                background-color: $c-neutral--light;

                height: 15px;
                width: 15px;

                border-radius: 50%;

                position: absolute;
                right: -8px;
                top: calc(50% - 7px);
            }

            &::after {
                content: "";

                background-color: $c-neutral--light;

                width: 2px;
                height: 100px;

                position: absolute;
                right: -2px;
                top: -75px;
            }

            &--first {
                &::after {
                    height: 0;
                }
            }
        }
    }
}
