/* MEMBER
- pages/member.scss */

.p-members {
    &-offers {
        margin-bottom: .2em;
        display: flex;

        position: relative;

        &__services,
        &__annual-saving {
            min-height: 50px;
            padding: 0 24px;
            display: flex;
            align-items: center;

            & > p {
                margin-bottom: 0;
            }
        }

        &__services {
            background-color: $c-background;
        }

        &__annual-saving {
            background-color: $c-brand;
            color: $c-text--light;
        }
    }

    &-association {
        .panel {
            min-width: 30%;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }
    }

    &-brochure {
        color: $c-text--light;
        background: url("../img/member/bg-brochure.png") no-repeat;
        background-size: cover;

        & > .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            font-size: 6rem;
            text-transform: uppercase;
            font-family: $f-bold;
        }
    }
}
