/* ARTICLE
- pages/article.scss */

.p-article {
    &-infos {
        font-size: 1.6rem;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__date {
            font-family: $f-medium;

            display: inline-block;
            margin-right: 1em;
        }

        &__categorie {
            color: $c-text--med;
        }
    }

    &-banner {
        margin: 1em 0 3.75em;

        &__credit {
            font-size: 1.2rem;
        }
    }

    &__lead {
        font-family: $f-medium;
        font-size: 1.8rem;

        margin-bottom: 1.5em;
    }

    &-contact {
        &__separator {
            width: 100%;
            margin-top: 0;
        }

        &__list {
            margin: 0 0 2rem;
            padding: 0;

            list-style: none;

            @media (min-width: $screen-md-min) {
                margin: 0;
            }
        }

        &__item {
            font-size: 1.4rem;
            margin: 0;
        }
    }
}
