/* TRAINING
- pages/training.scss */

.p-training {
    &__banner {
        background: url("../img/training/bg-law.png") no-repeat;
        background-size: cover;
        color: $c-text--light;
    }

    &-law {
        background: url("../img/training/bg-law.png") no-repeat;
        background-size: cover;
        color: $c-text--light;

        &__title {
            font-size: 6rem;
            text-transform: uppercase;
        }

        & > .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-financial-incentive {
        &__list {
            margin: 0;
            padding: 0 0 0 9.75em;

            list-style-type: none;
        }

        &__item {
            font-size: 2.6rem;
            font-family: $f-medium;

            margin: .95em 0;
        }

        &__number {
            color: $c-text--brand;
            font-size: 4rem;

            margin-left: -4.5rem;
        }
    }

    &-questions {
        background: url("../img/training/bg-questions.png") no-repeat;
        background-size: cover;
        color: $c-text--light;

        &__title {
            font-size: 6rem;
            text-transform: uppercase;
            font-family: $f-bold;
        }
    }
}
