/* SST
- pages/sst.scss */

.p-work-relationship {
    &-sector {
        position: relative;

        &::after {
            content: "";

            background: url("../img/work-relationship/bg-sector.png") no-repeat;
            background-size: cover;

            display: block;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            @media (min-width: $screen-md-min) {
                right: 50%;
            }
        }

        &__main-text {
            font-size: 4rem;

            padding-top: 1.35em;
        }
    }
}
